<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css">
    <style>
      #intro {
        background-image: url("https://mdbootstrap.com/img/new/fluid/city/018.jpg");
        height: 100vh;
      }

    </style>
</head>
<body>


    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-red text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
           <li><a href="{% url 'home' %}" class="nav-link px-2 text-secondary">Home</a></li>
           <li><a href="{% url 'todo' %}" class="nav-link px-2 text-black">TodoList</a></li>
            <li><a href="{% url 'create' %}" class="nav-link px-2 text-black">TaskCreation</a></li>
            <li><a href="{% url 'about' %}" class="nav-link px-2 text-black">About</a></li>
            <li><a href="{% url 'lolkek' %}" class="nav-link px-2 text-black">LolKek</a></li>
        </ul>
        <div class="col-md-3 text-end">
            {% if user.is_authenticated %}
            <button type="button" class="btn btn-danger me-2">
                <a href="{% url 'logout' %}" style="color:inherit">Log-out</a>
            </button>

            {% endif %}
            <button type="button" class="btn btn-outline-warning me-2">
                <a href="/accounts/login" style="color:inherit">Log-in</a>
            </button>
            <button type="button" class="btn btn-warning">
                <a href="/accounts/login" style="color:inherit">Sign-up</a>
            </button>

      </div>

      </div>
    </div>
<div class="container">
     {% if user.is_authenticated %}
        <p>Hi {{ user.username }}!</p>
      {% else %}
        <p>You are not logged in.</p>
        <a href="{% url 'login' %}">Log In</a>
      {% endif %}
    {% block content %}{% endblock %}
</div>


</body>
</html>