{%extends 'main/base.html'%}

{% block title %}
{{  Title  }}
{% endblock %}

{% block content %}
<div class="alert container-fluid alert-warning w-75">
    <h1 class="text-center">Main page</h1>
    <p class="text-center">Here will be the main page</p>
    <hr>
    <h3 class="text-center display-5">Lorem Ipsum</h3>
    <p class="text-center">

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus auctor magna eget bibendum sagittis. Integer eget gravida ante. Nam interdum ipsum id vulputate faucibus. In eget dui eu urna finibus tempor at quis dolor. Sed commodo fermentum nisl. Proin vitae faucibus nunc, a gravida nisl. Proin id rutrum lectus. Nam blandit id enim ac sodales. Integer non nunc ullamcorper, sodales diam ut, dignissim arcu.

Mauris augue mi, ultrices nec dapibus sed, condimentum vitae neque. Nullam venenatis eleifend finibus. Cras nec tincidunt tortor, nec tempor ante. Sed nunc neque, faucibus nec feugiat accumsan, tincidunt ut turpis. Quisque semper nibh non massa varius porta. Vivamus suscipit tortor lectus, eu tincidunt mauris gravida et. Aenean eu fermentum metus, quis vestibulum erat.

Aenean blandit turpis et enim feugiat tincidunt. Quisque nec nulla eros. Aenean et odio scelerisque, rutrum massa et, fermentum augue. Curabitur libero nisi, fringilla nec velit at, efficitur tempor leo. Duis auctor dictum dolor, ac sollicitudin arcu posuere ut. Aliquam orci ex, sollicitudin et ultrices nec, varius eu tellus. Nulla vel libero risus.

Quisque eu mauris id purus ullamcorper venenatis et eget mi. Nullam at luctus augue, sed suscipit ex. Pellentesque sed orci purus. Pellentesque in lobortis sapien. Quisque consequat turpis justo, quis rutrum nisl venenatis vitae. Vivamus aliquet odio vitae ipsum consectetur elementum. Aenean turpis dui, rhoncus non convallis vitae, luctus a risus. Curabitur sit amet sem ut orci luctus dapibus et sed lectus. Curabitur interdum nec elit ac vestibulum. Mauris mattis porttitor gravida. Nullam lacinia at purus sed dapibus. Fusce sit amet tellus metus. Morbi at risus nec tellus blandit consequat. Nulla facilisi. Vivamus pellentesque nibh ipsum, eget tempor leo porttitor sit amet. Phasellus ullamcorper tristique lacus a ultricies.

Nam magna nulla, accumsan vitae velit nec, tempus semper mi. Praesent et imperdiet ex, nec pulvinar turpis. Etiam cursus purus lectus, a sagittis nisl accumsan ac. Proin ex diam, vulputate eu ipsum eget, varius aliquam leo. Sed et blandit nisl. Nulla eget lorem placerat, pellentesque lectus sit amet, dapibus nunc. Aliquam pulvinar sed ante id mollis. Integer ultrices enim euismod augue gravida, eget dictum ante rutrum. Mauris lobortis nisi lectus. Nulla facilisi. </p>

</div>
{% endblock %}
